/* button  */
.action {
  position: relative;
  border: 2px solid transparent;
  border-color: var(--color);
  padding: 3px 6px;
  z-index: 999;
  background-color: rgb(255, 255, 255);
}
.action > span {
  display: inline-block;
  background-image: none;
  box-shadow: 0 2px #00000004;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;
  font-size: 18px;
  font-weight: 800;
  font-family: ariblk;
  border-radius: 2px;
  color: var(--color);
  text-transform: uppercase;
  background-color: transparent;
  box-sizing: border-box;
}
#about .content {
  width: 285px;
  font-weight: bold;
  font-size: 12px;
  color: rgb(0, 0, 0);
}

.content-header {
  padding: 10px 0 30px 0;
}

#menu .content {
    max-width: 65px;
    font-weight: bold;
    font-size: 12px;
    color: rgb(0, 0, 0);
  }

/* button  about */
#about {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 9999;
}

/* button  menu */
#menu {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 9999;
}

/* button  back */
#back {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 9999;
}
